<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">


	<!-- Display Name -->
	<display-name>Click Buff</display-name>

	<!-- Spring Security configration -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- Welcome File -->
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>


	<!-- Log4j configration -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>


	<!-- Spring Configration -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/mvc-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<!-- Mapping for all *.htm pattern requests to spring controller -->
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/application-config.xml,
								classpath:spring/spring-database.xml,
								classpath:spring/Spring-Mail.xml,
								classpath:spring/spring-security.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Filters for Http methods PUT and DELETE -->
 	<filter>
		<filter-name>httpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>httpMethodFilter</filter-name>
		<servlet-name>dispatcherServlet</servlet-name>
	</filter-mapping> 


	<!-- 404 Error Page location -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/view/404.jsp</location>
	</error-page>


	<!-- Error Page mapping for FrameworkException -->
	<error-page>
		<exception-type>com.clickbuff.exceptions.FrameworkException</exception-type>
		<location>/WEB-INF/view/error/custom_error.jsp</location>
	</error-page>


	<!--  Error Page mapping for Exception -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/view/generic_error.jsp</location>
	</error-page>

</web-app>
